<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073390697812-6605jbo6fjeo4ifqbq26irnta7c05spb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073390697812-6605jbo6fjeo4ifqbq26irnta7c05spb</string>
	<key>API_KEY</key>
	<string>AIzaSyA3R2omO9PV-QmUsPOIZZJbbfMXsIa8IoY</string>
	<key>GCM_SENDER_ID</key>
	<string>1073390697812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFirebase2</string>
	<key>PROJECT_ID</key>
	<string>aula1-firebase-3dd28</string>
	<key>STORAGE_BUCKET</key>
	<string>aula1-firebase-3dd28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073390697812:ios:32b8cc6314b18d45c19cc1</string>
</dict>
</plist>